<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Import the webpage's stylesheet -->
    <link rel="stylesheet" type="text/css" href="/login.css" />
    <link href="https://fonts.googleapis.com/css2?family=Andika&display=swap" rel="stylesheet">
    <title>Login</title>
</head>

<body>
    <div class="form-container">
        <form id="loginForm" class="auth-form">
            <h2>Login</h2>
            <div class="form-input">
                <label for="username">Username</label>
                <input id="username" type="text" required>
            </div>
            <div class="form-input">
                <label for="password">Password</label>
                <input id="password" type="password" required>
            </div>
            <button type="submit">Login</button>
            <div class="register-div">
                <span>Not Registered?</span> <a href="">Register</a>
            </div>
        </form>

    </div>
    <script src="/js/login.js"></script>
</body>

</html>