<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/semester.css">
    <link href="https://fonts.googleapis.com/css2?family=Andika&display=swap" rel="stylesheet">

    <title>Semester</title>
</head>

<body>
    <div class="content">
        <div class="nav-div">
            <div class="icon hamburger-icon" sidebarjs-toggle></div>
            <div sidebarjs>
                <nav>
                    <a href="dashboard">Dashboard</a>
                    <a href="semester">Semester</a>
                    <a href="course">Courses</a>
                    <a href="link">Attendance</a>
                    <a href="link">Attendance History</a>
                    <a href="link">Attendance Report</a>
                </nav>
            </div>
            <h1>Semester</h1>
        </div>

        <h2>Available Semesters</h2>

        <div class="card">
        </div>
    </div>
    <script src="https://unpkg.com/sidebarjs@latest"></script>
    <script>
        var sidebarjs = new SidebarJS.SidebarElement();

        document.body.addEventListener('click', async (event) => {
            if (event.target.className == 'selectSemester') {
                const semesterName = event.target.id;
                localStorage.setItem('semester-name', semesterName);
                window.location.href = '/course';
            }
        });

        async function fetchSemesters() {
            try {
                const response = await fetch('https://enormous-oil-speedwell.glitch.me/get-all-semesters');
                const data = await response.json();

                if (response.ok) {
                    const semesterList = document.querySelector('.card');
                    semesterList.innerHTML = '';

                    data.semesters.forEach((semester) => {
                        const card = document.createElement('div');
                        card.classList.add('semester-card');
                        card.innerHTML = `
                            <h2>${semester.name} ${semester.year}</h2>
                            <p>Start: ${semester.start}</p>
                            <p>End: ${semester.end}</p>
                            <button id="${semester.name}" class="selectSemester">Select</button>
                            `;
                        semesterList.appendChild(card);
                    });
                } else {
                    console.error('Error:', response.statusText);
                }
            } catch (error) {
                console.error('Error:', error);
            }
        }

        fetchSemesters(); // Call the function here after it is defined.
    </script>
</body>

</html>