<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/attendance-history.css">
    <!-- Add Tabulator CDN links -->
    <link href="https://unpkg.com/tabulator-tables@4.9.3/dist/css/tabulator.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.9.3/dist/js/tabulator.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Andika&display=swap" rel="stylesheet">

    <title>Attendance History</title>
</head>

<body>

    <div class="content">
        <div class="nav-div">
            <div class="icon hamburger-icon" sidebarjs-toggle></div>
            <div sidebarjs>
                <nav>
                    {{!-- <a href="dashboard">Dashboard</a> --}}
                    <a href="attendance">Attendance</a>
                    <a href="semester">Semester</a>
                    <a href="course">Courses</a>
                    <a href="attendance">Attendance</a>
                    <a href="attendance-history">Attendance History</a>
                    <a href="attendance-report">Attendance Report</a>
                </nav>
            </div>
            <h1>Attendance History</h1>
            <div class="dropdown">
                <button class="dropbtn">
                    <img src="path/to/your/image.png" alt="Praful" class="option-image">
                </button>
                <div class="dropdown-content">
                    <a href="/settings">Settings</a>
                    <a href="#" id="logout">Logout</a>
                </div>
            </div>
        </div>
        <div class="select-div">
            <select id="semesterSelect" class="semester-select">
                <!-- Semester options will be loaded here dynamically -->
            </select>

            <select id="courseSelect" class="course-select">
                <!-- Course options will be loaded here dynamically -->
            </select>

            <button id="submitButton" class="get-history-button" disabled>Submit</button>
        </div>
        <div id="table" class="container">
        </div>
    </div>

    <script src="https://unpkg.com/sidebarjs@latest"></script>
    <script src="/js/attendance-history.js"></script>
    <script src="/js/config.js"></script>
    <script>
        var sidebarjs = new SidebarJS.SidebarElement();
    </script>
</body>

</html>