<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/attendance-history.css">
    <link href="https://fonts.googleapis.com/css2?family=Andika&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/tabulator-tables@5.5.0/dist/css/tabulator.min.css" rel="stylesheet">

    <title>Attendance History</title>
</head>

<body>

    <div class="content">
        <div class="nav-div">
            <div class="icon hamburger-icon" sidebarjs-toggle></div>
            <div sidebarjs>
                <nav>
                    <a href="/dashboard">Dashboard</a>
                    <a href="/semester">Semester</a>
                    <a href="/course">Courses</a>
                    <a href="/attendance">Attendance</a>
                    <a href="/attendance-history">Attendance History</a>
                    <a href="/attendance-report">Attendance Report</a>
                </nav>
            </div>
            <h1>Attendance History</h1>
        </div>
        <div class="container">
            <div class="card" id="attendance-history-table">
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/sidebarjs@latest"></script>
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.5.0/dist/js/tabulator.min.js"></script>
    <script>
        var sidebarjs = new SidebarJS.SidebarElement();
        var table = new Tabulator("#attendance-history-table", {
            height: "311px",
            columns: [
                { title: "Name", field: "name" },
                { title: "Progress", field: "progress", sorter: "number" },
                { title: "Gender", field: "gender" },
                { title: "Rating", field: "rating" },
                { title: "Favourite Color", field: "col" },
                { title: "Date Of Birth", field: "dob", hozAlign: "center" },
            ],
        });
    </script>
</body>

</html>