<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/attendance-report.css">
    <link href="https://fonts.googleapis.com/css2?family=Andika&display=swap" rel="stylesheet">

    <title>Attendance Report</title>
</head>

<body>

    <div class="content">
        <div class="nav-div">
            <div class="icon hamburger-icon" sidebarjs-toggle></div>
            <div sidebarjs>
                <nav>
                    <a href="/dashboard">Dashboard</a>
                    <a href="/semester">Semester</a>
                    <a href="/course">Courses</a>
                    <a href="/attendance">Attendance</a>
                    <a href="/attendance-history">Attendance History</a>
                    <a href="/attendance-report">Attendance Report</a>
                </nav>
            </div>
            <h1>Attendance Report</h1>
        </div>
        <div class="container">
            <div class="card">
                <h2>Card 1</h2>
                <p>This is a description for Card 1.</p>
                <button>Go to Card 1</button>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/sidebarjs@latest"></script>
    <script>
        var sidebarjs = new SidebarJS.SidebarElement();
    </script>
</body>

</html>