<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/course.css">
    <link href="https://fonts.googleapis.com/css2?family=Andika&display=swap" rel="stylesheet">

    <title>Course</title>
</head>

<body>

    <div class="content">
        <div class="nav-div">
            <div class="icon hamburger-icon" sidebarjs-toggle></div>
            <div sidebarjs>
                <nav>
                    <a href="/dashboard">Dashboard</a>
                    <a href="/semester">Semester</a>
                    <a href="/course">Courses</a>
                    <a href="/attendance">Attendance</a>
                    <a href="/attendance-history">Attendance History</a>
                    <a href="/attendance-report">Attendance Report</a>
                </nav>
            </div>
            <h1>Course</h1>
            <div class="dropdown">
                <button class="dropbtn">
                    <img src="path/to/your/image.png" alt="Praful" class="option-image">
                </button>
                <div class="dropdown-content">
                    <a href="/settings">Settings</a>
                    <a href="#" id="logout">Logout</a>
                </div>
            </div>
        </div>
        {{!-- <div>
            <h1 class="user-welcome">Courses</h1>
        </div>
        <div class="line-div"></div> --}}
        <h2>Enrolled Courses</h2>
        <div class="user-courses-list">
        </div>
        <div class="line-div"></div>
        <h2>Available Courses</h2>
        <div class="other-courses-list">
        </div>

        {{!-- <div class="container"> --}}
            <div class="card">
            </div>
            {{!--
        </div> --}}
    </div>

    <script src="https://unpkg.com/sidebarjs@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/config.js"></script>
    <script src="/js/course.js"></script>
    <script>
        var sidebarjs = new SidebarJS.SidebarElement();
    </script>
</body>

</html>